.elementor-783 .elementor-element.elementor-element-2a8078d {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-783 .elementor-element.elementor-element-51574ca > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-783 .elementor-element.elementor-element-2a5d279 {
    text-align: left;
}
.elementor-783 .elementor-element.elementor-element-2a5d279 .elementor-heading-title {
    font-family: "Nunito",  Sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    height: 40px;
}
.elementor-783 .elementor-element.elementor-element-2a5d279 > .elementor-widget-container {
    margin: 25px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-783 .elementor-element.elementor-element-c6f8fc1 {
    text-align: left;
    font-family: "Nunito",  Sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 22px;
}
.elementor-783 .elementor-element.elementor-element-c6f8fc1 > .elementor-widget-container {
    margin: 5px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-783 .elementor-element.elementor-element-ce41072 .elementor-icon-wrapper {
    text-align: left;
}
.elementor-783 .elementor-element.elementor-element-ce41072.elementor-view-stacked .elementor-icon {
    background-color: #12284C;
}
.elementor-783 .elementor-element.elementor-element-ce41072.elementor-view-framed .elementor-icon,  .elementor-783 .elementor-element.elementor-element-ce41072.elementor-view-default .elementor-icon {
    color: #12284C;
    border-color: #12284C;
}
.elementor-783 .elementor-element.elementor-element-ce41072.elementor-view-framed .elementor-icon,  .elementor-783 .elementor-element.elementor-element-ce41072.elementor-view-default .elementor-icon svg {
    fill: #12284C;
}
.elementor-783 .elementor-element.elementor-element-ce41072 .elementor-icon {
    font-size: 24px;
}
.elementor-783 .elementor-element.elementor-element-ce41072 .elementor-icon i,  .elementor-783 .elementor-element.elementor-element-ce41072 .elementor-icon svg {
    transform: rotate(0deg);
}
.elementor-783 .elementor-element.elementor-element-ce41072 > .elementor-widget-container {
    margin: 15px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
