.elementor-769 .elementor-element.elementor-element-3d02f9b {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-769 .elementor-element.elementor-element-c947868 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-769 .elementor-element.elementor-element-43b9ad6 img {
    width: 100%;
}
.elementor-769 .elementor-element.elementor-element-43b9ad6 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-769 .elementor-element.elementor-element-c60bb09 {
    text-align: left;
}
.elementor-769 .elementor-element.elementor-element-c60bb09 .elementor-heading-title {
    font-family: "Nunito",  Sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}
.elementor-769 .elementor-element.elementor-element-c60bb09 > .elementor-widget-container {
    margin: 30px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-769 .elementor-element.elementor-element-15db19d {
    text-align: left;
    font-family: "Nunito",  Sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 20px;
    height: 40px;
}
.elementor-769 .elementor-element.elementor-element-15db19d > .elementor-widget-container {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-769 .elementor-element.elementor-element-63b60d9 .elementor-icon-wrapper {
    text-align: left;
    margin: 10px 0 0 0;
}
.elementor-769 .elementor-element.elementor-element-63b60d9.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-secondary );
}
.elementor-769 .elementor-element.elementor-element-63b60d9.elementor-view-framed .elementor-icon,  .elementor-769 .elementor-element.elementor-element-63b60d9.elementor-view-default .elementor-icon {
    color: var( --e-global-color-secondary );
    border-color: var( --e-global-color-secondary );
}
.elementor-769 .elementor-element.elementor-element-63b60d9.elementor-view-framed .elementor-icon,  .elementor-769 .elementor-element.elementor-element-63b60d9.elementor-view-default .elementor-icon svg {
    fill: var( --e-global-color-secondary );
}
.elementor-769 .elementor-element.elementor-element-63b60d9 .elementor-icon {
    font-size: 24px;
}
.elementor-769 .elementor-element.elementor-element-63b60d9 .elementor-icon i,  .elementor-769 .elementor-element.elementor-element-63b60d9 .elementor-icon svg {
    transform: rotate(0deg);
}
.elementor-769 .elementor-element.elementor-element-63b60d9 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

@media(max-width: 1200px) {
    .elementor-769 .elementor-element.elementor-element-63b60d9 .elementor-icon-wrapper {
        text-align: left;
        margin: 0px 0 0 0;
    }
}