.elementor-1013 .elementor-element.elementor-element-744adbe6, .elementor-1013 .elementor-element.elementor-element-744adbe6 > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-1013 .elementor-element.elementor-element-3da24515 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}/* Start custom CSS for text-editor, class: .elementor-element-b1b7ddb */.elementor-inner 
.elementor-section-wrap
.elementor-section {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
}/* End custom CSS */