.elementor-797 .elementor-element.elementor-element-48c52ea>.elementor-container {
    max-width: 940px;
}

.elementor-797 .elementor-element.elementor-element-48c52ea {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 160px 0px 180px 0px;
}

.elementor-797 .elementor-element.elementor-element-93401bd>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0% 33% 0% 0%;
}

.elementor-797 .elementor-element.elementor-element-537315a .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "Nunito", Sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.elementor-797 .elementor-element.elementor-element-537315a>.elementor-widget-container {
    margin: 0px 0px 50px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-797 .elementor-element.elementor-element-eda8f3d .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "Nunito", Sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.elementor-797 .elementor-element.elementor-element-eda8f3d>.elementor-widget-container {
    margin: 0px 0px 50px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-797 .elementor-element.elementor-element-47bccde {
    text-align: left;
}

.elementor-797 .elementor-element.elementor-element-47bccde img {
    max-width: 400px;
}

.elementor-797 .elementor-element.elementor-element-47bccde>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-797 .elementor-element.elementor-element-771dc7e .elementor-heading-title {
    font-family: "Nunito", Sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.elementor-797 .elementor-element.elementor-element-771dc7e>.elementor-widget-container {
    margin: 34px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-797 .elementor-element.elementor-element-289e1c1 {
    text-align: left;
    font-family: "Nunito", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 24px;
}

.elementor-797 .elementor-element.elementor-element-289e1c1>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-797 .elementor-element.elementor-element-b15e808 .elementor-icon-wrapper {
    text-align: left;
}

.elementor-797 .elementor-element.elementor-element-b15e808.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-secondary);
}

.elementor-797 .elementor-element.elementor-element-b15e808.elementor-view-framed .elementor-icon,
.elementor-797 .elementor-element.elementor-element-b15e808.elementor-view-default .elementor-icon {
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
}

.elementor-797 .elementor-element.elementor-element-b15e808.elementor-view-framed .elementor-icon,
.elementor-797 .elementor-element.elementor-element-b15e808.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-secondary);
}

.elementor-797 .elementor-element.elementor-element-b15e808 .elementor-icon {
    font-size: 24px;
}

.elementor-797 .elementor-element.elementor-element-b15e808 .elementor-icon i,
.elementor-797 .elementor-element.elementor-element-b15e808 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-797 .elementor-element.elementor-element-b15e808>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-797 .elementor-element.elementor-element-87f2cc3>.elementor-widget-container {
    margin: 42px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-797 .elementor-element.elementor-element-8366310 .elementor-button .elementor-align-icon-right {
    margin-left: 0px;
}

.elementor-797 .elementor-element.elementor-element-8366310 .elementor-button .elementor-align-icon-left {
    margin-right: 0px;
}

.elementor-797 .elementor-element.elementor-element-8366310 .elementor-button {
    font-family: "Nunito", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: none;
    font-style: normal;
    text-decoration: underline;
    line-height: 24px;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    fill: var(--e-global-color-secondary);
    color: var(--e-global-color-secondary);
    background-color: #74C3D400;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-797 .elementor-element.elementor-element-8366310>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

@media(max-width:1024px) {
    .elementor-797 .elementor-element.elementor-element-48c52ea {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 60px 32px 180px 32px;
    }

    .elementor-797 .elementor-element.elementor-element-93401bd>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-797 .elementor-element.elementor-element-47bccde img {
        max-width: 100%;
    }
}